---
import { changeLanguage } from "i18next";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import i18next, { t } from "i18next";
import CalendarComponent from "../components/CalendarComponent";
import Title from "../components/Title.astro";
import MapComponent from "../components/MapComponent";
import WashTypeComponent from "../components/WashTypeComponent";
import ClientCommentComponent from "../components/ClientCommentComponent";

const response = await fetch("https://api.meduza-carwash.uz/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      query {
          publicCategories {
              id
              name
              products_product_categories {
                  id
                  name
                  price
                  icon
              }
          }
      }
    `,
  }),
});

const json = await response.json();
const data = json.data;

const productCategories = data["publicCategories"];

changeLanguage("ru");
---

<Layout title="Main">
  <Title>{t("main.specifyDateAndTime")}</Title>
  <CalendarComponent client:load />
  <Title>{t("main.specifyALocation")}</Title>
  <MapComponent client:load />
  <Title>{t("main.specifyTypeOfSink")}</Title>
  <WashTypeComponent categories={productCategories} client:load />
  <ClientCommentComponent client:load />
  <div
    style={{
      display: "none",
    }}
  >
    <span id="submitText">{t("main.orderSubmitLabel")}</span>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    /** @ts-ignore */
    window.Telegram.WebApp.MainButton.show();
    /** @ts-ignore */
    window.Telegram.WebApp.MainButton.setText(
      document.getElementById("submitText").textContent.toUpperCase()
    );
    /** @ts-ignore */
    window.Telegram.WebApp.MainButton.disable();
  });
</script>
